.idea/
.vscode/
**.DS_Store
*.pyc
__pycache__/
backup/
cmd.txt
config/config.yml
config/data-loader.yml
config/es_loader_*
config/es_loader.yml
config/file-loader.yml
data/
env/
Pentaho-scripts/
tests/temp
tmp/
venv/
venv3_new/
